<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayerPulse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="icons">
                <img src="../static/images/lol.png" alt="LoL">
                <img src="../static/images/cs.png" alt="CS:GO">
                <img src="../static/images/Apex-Legends-Emblem.png" alt="Apex">
            </div>
            <div class="menu">
                <div class="menu-item" onclick="window.location.href='/abrir_ecra_principal'">Início</div>
                <div class="menu-item">Leaderboard</div>
                <div class="menu-item" onclick="window.location.href='/abrir_noticias'">Notícias</div>
                <div class="menu-item">Estatísticas</div>
                <div class="menu-item" onclick="window.location.href='/abrir_esports'">Esports</div>
            </div>
            <div class="menu-item" onclick="window.location.href='/abrir_perfil'">
                <a id="perfil">{{name}}</a>
            </div>
        </div>
        <div class="main">
            <div class="search-bar">
                <input type="text" placeholder="Pesquisar Noticias...">
                <div class="main_logo">
                    <img src="../static/images/logo.png" alt="PlayerPulse Logo">
                    <span>PlayerPulse</span>
                </div>
            </div>
            <div class="content">
                <div class="section">
                    <div class="section-header">
                        <span>Noticias - View all</span>
                    </div>
                    <div class="news-container">
                        {% for new in news %}
                            <div class="news-item">
                                <a href="{{new.url}}">
                                    <h2>{{ new.title }}</h2>
                                    <p>{{ new.description }}</p>
                                </a>
                                <p>{{ new.time_ago }}</p>

                            </div>
                            {% if not loop.last %}
                                <hr class="separator">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
